<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
Hello, ({{ account_addr }}), message from DEX: <br><br>
Your ETH wallet balance is {{ balance }} ETH
<button type="button"
        onclick="window.location.href='{{ url_for( 'wallet_eth_management', account_address=account_addr) }}';">Refresh
</button>
<br><br>
You can deposit ETH to your wallet: <br>
<form method="POST">
    <label>
        <input name="dep">
    </label>
    <input type="submit" value="Deposit eth">
    <br><br>
    You can withdraw ETH from your wallet: <br>
    <label>
        <input name="with">
    </label>
    <input type="submit" value="Withdraw eth">
</form>
<br>
{{ message }}
<button type="button"
        onclick="window.location.href='{{ url_for( 'wallet_send_eth', account_address=account_addr) }}';">Send wallet eth to other user
</button>
<br><br><br>
<button type="button"
        onclick="window.location.href='{{ url_for( 'wallet_dashboard', account_address=account_addr) }}';">Back to
    wallet dashboard
</button>
<button type="button" onclick="window.location.href='{{ url_for( 'dashboard', account_address=account_addr) }}';">Back
    to Dashboard
</button>
</body>
</html>