<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
Hello, ({{ account_addr }}) <br><br>
You can call back your order on {{ token }} tokens: <br>
<form method="POST">
    <label>
        <input name="sell"> Order type
    </label>
    <br>
    <label>
        <input name="pri"> Price
    </label>
    <br>
    <input type="submit" value="Remove order">
</form>
<br>
{{ message }}
<br><br><br>
<button type="button"
        onclick="window.location.href='{{ url_for( 'wallet_available_coins', account_address=account_addr) }}';">Back Available tokens
</button>
<button type="button"
        onclick="window.location.href='{{ url_for( 'wallet_dashboard', account_address=account_addr) }}';">Back to
    wallet dashboard
</button>
<button type="button" onclick="window.location.href='{{ url_for( 'dashboard', account_address=account_addr) }}';">Back
    to Dashboard
</button>
</body>
</html>