<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
Hello, {{ name }} ({{ account_addr }})!
<br>
<button type="button" onclick="window.location.href='{{ url_for( 'create_wallet', account_address=account_addr) }}';">
    Create wallet
</button>
<br><br>
<button type="button"
        onclick="window.location.href='{{ url_for( 'wallet_eth_management', account_address=account_addr) }}';">ETH
    management
</button>
<button type="button"
        onclick="window.location.href='{{ url_for( 'wallet_coins_management', account_address=account_addr) }}';">Coins
    management
</button>
<br><br>
<button type="button" onclick="window.location.href='{{ url_for( 'dashboard', account_address=account_addr) }}';">Back
    to Dashboard
</button>
</body>
</html>